<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text> '${name}' </title>
</head>
<body>
    
        <h1 th:text="${description}"></h1>

        <span th:text=" 'V' + ${version} "></span>
        <span th:text=" ' | url:' + ${url}"></span>

        <h2> Simulator </h2>
        <hr>
        <pre><a href="/simulator">simulator</a></pre>

</body>
</html>